

.container-fluid {
    background-color: rgb(84, 194, 211);
}



.slide-1 {
    background-image: url(../img/556275504_IMG_0980.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-thumbnail {
    width: 200px;
    height: auto;
    
}

.subscribe {
    background-color: rgb(190, 78, 78);
}