* {
    box-sizing: border-box;
}

.container-fluid {
    background-color: rgb(163, 221, 232);
}

.hero-section {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url("../img/5562755504_IMG_0980.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card {
    background-color: rgb(124, 55, 55);

}


.img-thumbnail {
    width: 200px;
    height: auto;
    
}

.subscribe {
    background-color: rgb(163, 221, 232);
}



.d-flex {
    background-color: rgb(163, 221, 232);
    
}

